
.article {
    margin: 12px;
    padding: 30px;
    border-radius: 10px;
}

.article div.h2 {
    font-family: sans-serif;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 30px;
}

.article .date {
    font-style: italic;
    font-size: 14px;
}

.article .body {
    padding: 20px 0;
}
