{
  "env": {
    "development": {
      "presets": ["flow", ["env", {"modules": false}], "react"],
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": [["env"], "react"]
    },
    "production": {
      "presets": [["env"], "react"]
    }
  }
}