// Ridiculously Responsive Social Sharing Buttons
// Team: @dbox, @joshuatuscan
// Site: http://rrssb.ml
// Twitter: @therealkni
//
//        ___           ___
//       /__/|         /__/\        ___
//      |  |:|         \  \:\      /  /\
//      |  |:|          \  \:\    /  /:/
//    __|  |:|      _____\__\:\  /__/::\
//   /__/\_|:|____ /__/::::::::\ \__\/\:\__
//   \  \:\/:::::/ \  \:\~~\~~\/    \  \:\/\
//    \  \::/~~~~   \  \:\  ~~~      \__\::/
//     \  \:\        \  \:\          /__/:/
//      \  \:\        \  \:\         \__\/
//       \__\/         \__\/
//
// Note: You can and should add or remove buttons from config settings and
//       $social-list based on your specific needs.

// config settings
$txt: #fff !default;
$email: #0a88ff !default;
$facebook: #306199 !default;
$tumblr: #32506d !default;
$linkedin: #007bb6 !default;
$twitter: #26c4f1 !default;
$googleplus: #e93f2e !default;
$reddit: #8bbbe3 !default;
$youtube: #df1c31 !default;
$pinterest: #b81621 !default;
$pocket: #ed4054 !default;
$github: #444 !default;
$instagram: #125688 !default;
$hackernews: #ff6600 !default;
$delicious: #0b79e5 !default;
$vk: #4d71a9 !default;
$print: #8d98a2 !default;
$whatsapp: #43d854 !default;
$xing: #005A5F !default;

// Variable list for all social button colors to be iterated over.
$social-list: (email $email, facebook $facebook, tumblr $tumblr, linkedin $linkedin, twitter $twitter, googleplus $googleplus, youtube $youtube, reddit $reddit, pinterest $pinterest, pocket $pocket, github $github, instagram $instagram, delicious $delicious, vk $vk, hackernews $hackernews,whatsapp $whatsapp, print $print, xing $xing);

.socialite-share {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  li {
    margin: 5px;

    @each $s-name in $social-list {
      &.#{nth($s-name, 1)} {
        a {
          padding: 5px;
          border-radius: 5px;
          color: nth($s-name, 2);
          transition: all .5s;
          background-color: lightgray;
          &:hover {
            color: darken(nth($s-name, 2), 10%);
            background-color: lighten(nth($s-name, 2), 20%);
          }
          span {
            &:first-child { margin-right: 5px; }
          }
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      span {
        opacity: .7;
      }
      &:hover {
        span {
          opacity: 1;
        }
      }
    }
  }
}